@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Autour One', cursive;
}

#logo {
    font-weight: bold;
    font-size: 2rem;
}

.text-primary {
    color: lightblue;
}

#navbar {
    background-color: grey;
    color: blue;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
}

#navbar a {
    color: blue;
    text-decoration: none;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background-color: red;
    border-radius: 5px;
    color: black;
}

@media only screen and (max-width: 700px) {
    #navbar ul {
        margin-top: 1rem;
    }
}